/* Styles for the main container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
  }
  
  /* Heading styling */
  .heading {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  /* Form styling */
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 1rem;
  }
  
  /* Label styling */
  .label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  /* Input styling */
  .login-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: black;
  }
  
  /* Button styling */
  .submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #21a1f1;
  }
  