.footer {
    padding: 20px 30px;
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    /* position: fixed;
    width: 100%;
    bottom: 0; */
}
.footer-hyperlink {
    background-color: #2d2d2d;
}
.footer-left > a  {
    color: #1e90ff;
}
.footer-right {
    background-color: #2d2d2d;
    display: flex;
    gap: 15px;
}

.footer-right > a {
    background-color: #2d2d2d;
}