.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .search-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: white;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #777;
  }
  